{% extends '../layout/layout.html' %}


{% block content %}


{% for visual_prod in visual_prods %}
<div>
    <p>{{visual_prod.name}}</p>
    <p>views: {{visual_prod.number_visualizations}}</p>
    {% if visual_prod.viewed %}
    <h1>Viewed</h1>
    {% else %}
    <form action="{% url 'viewed' visual_prod.id %}" method="POST">
        {% csrf_token %}
        <button>Mark as viewed</button>
    </form>
    {% endif %} {% if visual_prod.ratingUser %}
    <p>Your rate: {{visual_prod.ratingUser}}</p>
    {% else %}
    <form action="{% url 'rate' visual_prod.id %}" method="POST">
        {% csrf_token %} {{rate_form}}
        <button type="submit">Save</button>
    </form>
    {% endif %}
    <p>{{visual_prod.type}} rating: {{ visual_prod.rating }}</p>
    <hr />
</div>
{% endfor %}


{% endblock %}